{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}! <br>
  You have {{ devices|length}} registered devices:
  {% if devices|length >0 %}
    <table border = 2>
      <th>Device Name</th>
      <th>Action</th>
      {% for device_name, device_details in devices.items() %}
        <tr>
            <td> {{ device_name }} </td>
            <form method="POST" action="/delete_device">
                <td><button class="button is-block is-info is-large is-fullwidth" type="submit" name="delete" value="{{ device_details.id }}"> Delete</button></td>
            </form>

        </tr>
      {% endfor %}
    </table>
  {% endif %}
</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-info">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<form method="POST" action="/add_device">
  <h2> Add Device </h2>
  <div class="field">
      <div class="control">
          <input class="input is-large" type="text" name="device" placeholder="Device name" autofocus="">
      </div>
  </div>
  <button class="button is-block is-info is-large is-fullwidth">Add</button>
</form>
{% endblock %}